.about{
    padding: 2.5rem;
    background:url('https://images.unsplash.com/photo-1459257831348-f0cdd359235f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
    background-repeat: no-repeat;
    background-position:cover ;
    height: 90vh;
    span{
        line-height: 2.2rem;
        font-size: 2rem;
        font-weight: 500;
    }
}