@import "../../../assets/set-up/variables";

.contact-edit-container {
    background-color: $clr2;
    min-height: 70vh;
    padding: 20px;


    .contact-edit {
        a {
            justify-self: flex-end;
        }
        
        h4 {
            line-height: 0.5rem;
        }
        
        button {
            font-size: 1.1rem;
            border: none;
            background-color: inherit;
            cursor: pointer;
        }

        display: grid;
        gap: 5px;
        justify-items: start;
        padding: 20px;
        border-radius: 3px;
        color: $clr5;
        margin-block: 10px;
        border: 1px solid $clr4;
        border-radius: 12px;
        padding: 12px;
        width: fit-content;

        input {
            border: none;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 3px;
            height: 35px;
            width: 195px;
        }

        .btn {
            margin-top: 30px;
            justify-self: flex-end;
            border: none;
            background-color: inherit;
            color: #707a8a;
            font-size: 1.2rem;

            &:hover i {
                color: $clrYellow;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}